// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */
/dts-v1/;

#include "talos-lyra-som.dtsi"

/ {
	model = "Qualcomm QCS615 Talos lyra EVK";
	compatible = "qcom,talos-lyra-evk", "qcom,qcs615", "qcom,sm6150";
	chassis-type = "embedded";

};

&pon_pwrkey {
	status = "okay";
};

&pon_resin {
	linux,code = <KEY_VOLUMEDOWN>;

	status = "okay";
};

&usb_1_hsphy {
	vdd-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;
	vdda-phy-dpdm-supply = <&vreg_l13a>;

	status = "okay";
};

&usb_qmpphy {
	vdda-phy-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;

	status = "okay";
};

&usb_qmpphy_2 {
	vdda-phy-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;

	status = "okay";
};

&usb_1 {
	dr_mode = "peripheral";

	status = "okay";
};

&usb_2_hsphy {
	vdd-supply = <&vreg_l5a>;
	vdda-pll-supply = <&vreg_l12a>;
	vdda-phy-dpdm-supply = <&vreg_l13a>;

	status = "okay";
};

&usb_2 {
	dr_mode = "host";

	status = "okay";
};
